{#
   Copyright 2015 VMware, Inc.  All rights reserved.

   SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only
#}
# {{ ansible_managed }}
{% for e in nfs_exports %}
{{ e.mount_point }} {{ e.nfs_opts }}
{% endfor %}
